<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% for category in categories %}
<a href="">{{ category.name }}</a>&nbsp;&nbsp;&nbsp;
{% endfor %}

{% for book in books %}
    <ul>
        <li><b>Nomi: </b><a href="{% url 'detail' book.id %}">{{ book.title }}</a></li>
        <li>
            <b>Narxi: </b>{{ book.price }}

            {% if book.price >= 10 %}
            <span style="color: red;">
            qimmat
            </span>
            {% else %}
            <span style="color: green;">
            arzon
            </span>
            {% endif %}

        </li>
        <li><b>Category: </b>{{ book.category.name }}</li>
    </ul>
    <hr>
{% endfor %}

</body>
</html>