{% load static %}

<!DOCTYPE html>
<html lang="uz">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Kitoblar</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>


<!-- =========================
     NAVBAR
========================= -->

<nav class="navbar">

    <a href="#"
       class="category-link active"
       data-category="all">
        Barcha kitoblar
    </a>


    {% for category in categories %}

    <a href="{% url 'books_by_category' category.pk %}">
        {{ category.name }}
    </a>

    {% endfor %}

    {% if request.user.is_superuser %}
    <a href="{% url 'add_book' %}">Kitob qo'shish</a>
    {% endif %}

</nav>


<!-- =========================
     SEARCH
========================= -->

<div class="search-box">

    <input
            type="text"
            id="searchInput"
            placeholder="Kitob qidirish..."
    >

</div>


<!-- =========================
     BOOKS
========================= -->

<div class="books-container">

    {% for book in books %}

    <div
            class="book-card"
            data-category="{{ book.category.name }}"
    >

        <ul class="book-info">

            <!-- BOOK NAME -->

            <li class="book-title">

                <b>Nomi:</b>

                <a href="{% url 'detail' book.id %}">
                    {{ book.title }}
                </a>

            </li>


            <!-- PRICE -->

            <li>

                <b>Narxi:</b>

                <span class="price">

                        {{ book.price }}

                    </span>


                {% if book.price >= 10 %}

                <span class="expensive">
                            qimmat
                        </span>

                {% else %}

                <span class="cheap">
                            arzon
                        </span>

                {% endif %}

            </li>


            <!-- CATEGORY -->

            <li>

                <b>Category:</b>

                <span class="category">
                        {{ book.category.name }}
                    </span>

            </li>

        </ul>

    </div>

    {% endfor %}

</div>


<script src="{% static 'js/script.js' %}"></script>

</body>

</html>